.container {
    position: absolute;
    top: 4rem;
    right: 1rem;
    background-color: var(--fs-color-surface);
    border-radius: .3rem;
    box-shadow: var(--fs-shadow-lg);
    color: var(--fs-color-surface-text);
    width: 350px;
    border: 2px solid var(--fs-color-border);
}

.header {
    display: flex;
    font-size: .8rem;
    justify-content: space-between;
    align-items: center;
    padding-top: .3rem;
    padding-left: .2rem;
    padding-right: 2rem;
    border-bottom: 1px solid var(--fs-color-border);
}

.title {
    font-size: 1rem;
    font-weight: bolder;
}

.close-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
    cursor: pointer;
    color: var(--fs-color-border);
}
    .close-btn:hover {
        color: var(--fs-color-surface-text);
    }

    .content {
        padding: .5rem;
    }

.toast-primary {
    border-bottom: 5px solid var(--fs-color-primary);
}

.toast-secondary {
    border-bottom: 5px solid var(--fs-color-secondary);
}

.toast-action {
    border-bottom: 5px solid var(--fs-color-action);
}

.toast-success {
    border-bottom: 5px solid var(--fs-color-success);
}

.toast-danger {
    border-bottom: 5px solid var(--fs-color-danger);
}