.footer-btn {
    display: flex;
    gap: var(--fs-space-4);
    padding: var(--fs-space-4);
    flex-wrap: wrap;
}

    .footer-btn > div {
        flex: 1 1;
        min-width: max-content;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        font-size: 1.1rem;
        color: var(--fs-color-black);
        padding-top: .7rem;
        padding-bottom: .7rem;
        padding-left: var(--fs-space-2);
        padding-right: var(--fs-space-2);
        background-color: var(--fs-color-border);
        border-radius: var(--fs-radius-lg);
    }