.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fs-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--fs-z-modal);
}

.container {
    position: relative;
    background-color: var(--fs-color-surface);
    color: var(--fs-color-surface-text);
    border-radius: var(--fs-radius-lg);
    box-shadow: var(--fs-shadow-md);
    max-height: 90vh;
    overflow-y: auto;
    width: 80%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.header > h3 {
    margin: 0;
    font-size: 1.5rem;
}

.body {
    margin-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .3rem;
}

.footer {
    container-type: inline-size;
}

.close-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
    cursor: pointer;
}

@media (min-width: 992px) {
    .container {
        border-radius: var(--fs-radius-md);
        width: 40%;
    }
}