@inherits IconBase

<svg xmlns="http://www.w3.org/2000/svg"
     width="24"
     height="24"
     viewBox="0 0 24 24"
     fill="none"
     stroke="currentColor"
     stroke-width="2"
     stroke-linecap="round"
     stroke-linejoin="round"
     style="@StyleValue"
     @onclick="() => OnClicked.InvokeAsync()"
     @onclick:stopPropagation="@StopPropagation"
     class="@ClassValue">
    @if (Title is not null)
    {
        <title>@Title</title>
    }
    <path d="m9 18 6-6-6-6" />
</svg>

@code {
    protected override string ClassValue => $"lucide lucide-chevron-right-icon lucide-chevron-right {Class}".Trim();

    protected override string StyleValue => $"{Style}".Trim();
}
