@inherits IconBase

<svg xmlns="http://www.w3.org/2000/svg"
     width="24"
     height="24"
     viewBox="0 0 24 24"
     fill="none"
     stroke="currentColor"
     stroke-width="2"
     stroke-linecap="round"
     stroke-linejoin="round"
     style="@StyleValue"
     @onclick="() => OnClicked.InvokeAsync()"
     @onclick:stopPropagation="@StopPropagation"
     class="@ClassValue">
    @if (Title is not null)
    {
        <title>@Title</title>
    }
     <rect x="16" y="16" width="6" height="6" rx="1" /><rect x="2" y="16" width="6" height="6" rx="1" /><rect x="9" y="2" width="6" height="6" rx="1" /><path d="M5 16v-3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3" /><path d="M12 12V8" /></svg>

@code {
    protected override string ClassValue => $"lucide lucide-network-icon lucide-network {Class}".Trim();

    protected override string StyleValue => $"{Style}".Trim();
}
