@inherits IconBase
<svg xmlns="http://www.w3.org/2000/svg"
     width="24"
     height="24"
     viewBox="0 0 24 24"
     fill="none"
     stroke="currentColor"
     stroke-width="2"
     stroke-linecap="round"
     stroke-linejoin="round"
     @onclick="() => OnClicked.InvokeAsync()"
     @onclick:stopPropagation="@StopPropagation"
     style="@StyleValue"
     class="@ClassValue">
    @if (Title is not null)
    {
        <title>@Title</title>
    }
    <path d="M5 12h14" />
    <path d="M12 5v14" />
</svg>

@code {
    protected override string ClassValue => $"lucide lucide-plus-icon lucide-plus {Class}".Trim();

    protected override string StyleValue => $"{Style}".Trim();
}
