@inherits MyComponentBase

<div @ref="Element" id="@GetId()" class="@ClassValue" style="@StyleValue">
    @ChildContent
</div>

@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }

    protected override string ClassValue => $"container {Class}".Trim();

    protected override string StyleValue => $"{Style}".Trim();
}
