.container {
    position: relative;
    height: 3.5rem;
    margin: .3rem;
}

::deep input, ::deep select {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid var(--primary, #7393B3);
    color: var(--color-control-text);
    width: 100%;
    font-size: 16px;
    position: absolute;
    top: .7rem;
}

::deep label {
    position: absolute;
    color: var(--primary, #7393B3);
    transition: 0.2s;
    pointer-events: none;
    left: .3rem;
    top: .7rem;
}

input:focus + label,
select:focus + label,
input:not(:placeholder-shown) + label,
select:not(:placeholder-shown) + label {
    top: -.3rem;
    left: .1rem;
    font-size: 12px;
}

::deep .validation-message {
    color: var(--color-red, red);
    position: absolute;
    bottom: 0;
    font-size: .7rem;
}

    ::deep .validation-message:not(:nth-of-type(1)) {
        display: none;
    }

    input[disabled] + label {
        color: var(--disabled, #c7c7c7)
    }

::deep input[disabled] {
    border-bottom: 2px solid var(--disabled, #c7c7c7);
    color: var(--disabled, #c7c7c7);
}

    .hidden {
        display: none;
    }

    .has-error > ::deep input {
        border-bottom-color: var(--color-red, red);
    }

    .has-error > ::deep label {
        color: var(--color-red, red);
    }

    