.button {
    outline: none;
    border: none;
    border-radius: var(--fs-radius-sm);
    font-size: .875rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    color: var(--fs-color-primary-foreground);

    cursor: pointer;
}

button:enabled:active {
    scale: .95;
}

button:disabled {
    opacity: .5;
}

.button-primary {
    background-color: var(--fs-color-primary);
}

.button-primary:enabled:hover {
    background-color: color-mix(in srgb, var(--fs-color-primary), white 20%);
}

.button-secondary {
    color: var(--fs-color-text);
    border: 1px solid var(--fs-color-secondary);
    background-color: transparent;
}

.button-secondary:enabled:hover {
    color: var(--fs-color-background);
    background-color: var(--fs-color-secondary);
}


.button-action {
    background-color: var(--fs-color-action);
}

.button-action:enabled:hover {
    background-color: color-mix(in srgb, var(--fs-color-action), black 20%);
}

.button-success {
    background-color: var(--fs-color-success);
}

.button-success:enabled:hover {
    background-color: var(--fs-color-success-hover);
}

.button-danger {
    background-color: var(--fs-color-danger);
}

.button-danger:enabled:hover {
    background-color: var(--fs-color-danger-hover);
}


.button-size-default {
    min-width: 120px;
}