.container {
    position: relative;
    height: 3.5rem;
    margin: .3rem;
}

input {
    display: none;
}

.checkmark {
    position: absolute;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--primary, #7393B3);
    vertical-align: middle;
    background: #fff;
    top: 1rem;
    left: .5rem;
}

.label-text {
    position: absolute;
    color: var(--primary, #7393B3);
    transition: 0.2s;
    pointer-events: none;
    top: -.3rem;
    left: .1rem;
    font-size: 12px;
}

input[type="checkbox"]:checked + .checkmark {
    background: var(--primary, #7393B3);
    border-color: color-mix(in srgb, var(--primary, #7393B3), black 20%);
}

input[type="checkbox"]:disabled + .checkmark {
    background: var(--disabled);
    border-color: color-mix(in srgb, var(--disabled, #ededed), black 20%);
}

input[type="checkbox"]:enabled + .checkmark {
    cursor: pointer;
}
