input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid var(--fs-color-primary) !important;
    color: var(--fs-color-text);
    font-size: 16px;
}
    input::-webkit-calendar-picker-indicator {
        filter: var(--fs-color-control-filter);
        cursor: pointer;
    }