.row {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--fs-color-border);
}

.row:last-child {
    border: none;
}

.header {
    font-size: 1.3rem !important;
    color: var(--fs-color-text-muted);
    font-weight: bolder;
    border-bottom: 1px solid var(--fs-color-border);
}