@inherits MyComponentBase

<div @ref="Element" id="@GetId()" class="@ClassValue" style="@StyleValue">
    @if (HeaderContent is not null)
    {
        <Row IsHeaderRow="true">
            @HeaderContent
        </Row>
    }
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? HeaderContent { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    protected override string ClassValue => $"table {Class}".Trim();

    protected override string StyleValue => $"{Style}".Trim();
}
